# It is recommended to install all these packages
# to ensure the bot runs smoothly.

# For API communication
pybit

# For data manipulation


# For technical indicators
pandas_ta

# For environment variables
python-dotenv

# For Google AI
google-generativeai
requests==2.31.0
numpy==1.26.4
pandas==2.2.2
colorama==0.4.6

bybit-api==2.2.0